.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  &.zero {
    background-color: rgba(0, 0, 0, 0.2)
  }
  &.one {
    background-color: rgba(241, 82, 82, 0.2);
  }
  &.two {
    background-color: rgba(255, 199, 0, 0.2);
  }
  &.three {
    background-color: rgba(52, 170, 112, 0.2);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 14px 34px;
  color: #ffffff;
  font-size: 50px;
  &.zero {
    background-color: #000000;
  }
  &.one {
    background-color: #f15252;
  }
  &.two {
    background-color: #ffc700;
  }
  &.three {
    background-color: #34aa70;
  }
}
